h1 {
    text-align: center;
    margin: 2em;
    font-size: 4em;
    background-color: #d65555;
}
h2 {
    margin: 1em;
    font-size: 3em;
}
p {
    font-size: 1.5em;
}
h3{
    margin-left: 2em;
    font-size: 2em;
    text-decoration: underline;
}
.explications {
    background-color: #00aeff;
    font-size: 1.5em;
    margin: 1em;
    text-align: center;
}
.fin{
    font-size: 1em;
}

.images-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    /* height: 10em; */
    width: 10em;
    
    
}